# Spam E-Mail Detection

**Importing Important Libraries**

In [1]:
# General Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [32]:
# Importing skikit libraries
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

**Importing raw data from CSV file**

In [3]:
initial_data = pd.read_csv("/content/mail_data.csv")

In [4]:
initial_data

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

**Data Pre-Processing**

In [6]:
# Replace the null value with a null string
data_withoutNull = initial_data.fillna('')

In [7]:
# Spam = 0 and Ham = 1
data_withoutNull.loc[data_withoutNull['Category'] == 'ham', 'Category'] = 1
data_withoutNull.loc[data_withoutNull['Category'] == 'spam', 'Category'] = 0

In [8]:
data_withoutNull.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [11]:
X = data_withoutNull['Message']
Y = data_withoutNull['Category']

**Split the data into training and testing data**

In [12]:
(X_train, X_test, Y_train, Y_test) = train_test_split(X, Y, test_size = 0.15, random_state = 2)

**Feature Extraction using TDidfVectorizer**

In [25]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase='true')
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

In [26]:
X_train_features

<4736x7698 sparse matrix of type '<class 'numpy.float64'>'
	with 36894 stored elements in Compressed Sparse Row format>

In [27]:
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

**Support Vector Machines Method**

In [30]:
model = SVC()

In [31]:
model.fit(X_train_features, Y_train)

SVC()

In [35]:
prediction_training = model.predict(X_train_features)
accuracy_training = accuracy_score(Y_train, prediction_training)
print(accuracy_training)

0.9983108108108109

In [36]:
prediction_test = model.predict(X_test_features)
accuracy_test = accuracy_score(Y_test, prediction_test)
print(accuracy_test)

0.9677033492822966